:root {
  --primary-color-blue: #0000ff;
  --background-color-red: #ff0000;
  --secondary-color-white: #ffffff;
  --primary-font-family: "Px Grotesk Regular";
  --secondary-font-family: "Px Grotesk Screen";
  --text-style-eyebrow: 14px;
  --text-style-heading1: 123.91px;
  --text-style-lg: 26px;
  --text-style-body: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color-red);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}
