@import "./fonts/Px-Grotesk-Regular/fonts.css";
@import "./fonts/Px-Grotesk-Screen/fonts.css";

:root {
  --primary-color-blue: #0000ff;
  --background-color-red: #ff0000;
  --secondary-color-white: #ffffff;
  --primary-font-family: "Px Grotesk Regular";
  --secondary-font-family: "Px Grotesk Screen";
  --text-style-eyebrow: 14px;
  --text-style-heading1: 123.91px;
  --text-style-lg: 26px;
  --text-style-body: 18px;
}

html,
body {
  margin: 0;
  font-family: "Px Grotesk Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
}

#root {
  width: 100%;
  height: 100%;
  overflow: auto;
  isolation: isolate;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* LEGAL DISCLAIMER
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * onedesigncompany.com
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Optimo webfonts are protected by copyright law and provided under license. To modify, alter, translate, convert, decode or reverse engineer in any manner whatsoever, including converting the Font Software into a different format is strictly prohibited. The webfont files are not to be used for anything other than web font use.
 *
 * optimo.ch
 */

/* @font-face {
  font-family: "Px Grotesk Regular";
  src: url("./assets/webfonts/Px-Grotesk-Regular/Px-Grotesk-Regular.woff");
  src: url("./assets/webfonts/Px-Grotesk-Regular/Px-Grotesk-Regular.woff")
      format("woff2"),
    url("./assets/webfonts/Px-Grotesk-Regular/Px-Grotesk-Regular.woff2")
      format("woff");
  font-weight: 400;
  font-style: normal;
} */
/* @font-face {
  font-family: "Px Grotesk Regular";
  src: local("Px Grotesk Regular"),
    url(./fonts/Px-Grotesk-Regular/Px-Grotesk-Regular.woff) format("woff");
  src: local("Px Grotesk Regular"),
    url(./fonts/Px-Grotesk-Regular/Px-Grotesk-Regular.woff) format("woff2");
}

@font-face {
  font-family: "Px Grotesk Screen";
  src: url("./assets/webfonts/Px-Grotesk-Screen/fonts.css");
  src: url("./assets/webfonts/Px-Grotesk-Screen/Px-Grotesk-Screen.eot")
      format("embedded-opentype"),
    url("./assets/webfonts/Px-Grotesk-Screen/Px-Grotesk-Screen.woff")
      format("woff2"),
    url("./assets/webfonts/Px-Grotesk-Screen/Px-Grotesk-Screen.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
} */
